<div class="page-header">
  <%= link_to "Delete This Movie", '#', class: 'pull-right btn btn-large btn-danger' %>
  <h1>Movie Title Goes Here</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <%= image_tag 'movie_poster.jpg' %>
  </div>
  <div class="col-md-9">
    <p class="lead">
      <strong>Title:</strong>
      Raiders of the Lost Ark
    </p>
    <p class="lead"><strong>Year: </strong>1981</p>
    <p class="lead"><strong>Plot: </strong>Archeologist and adventurer Indiana Jones is hired by the US government to find the Ark of the Covenant before the Nazis.</p>
    <p class="lead"><strong>Director: </strong><em>Director goes here</em></p>
    <p class="lead"><strong>Cast: </strong><em>Cast goes here</em></p>
  </div>
</div>

